.btn
    background-color: $blue
    color: white
    text-transform: uppercase
    white-space: nowrap
    font-size: 10px
    letter-spacing: 0.08em
    text-align: center
    justify-self: start
    +norms(r)
    padding: 11px 22px
    transition-duration: .3s
    border: 1px solid transparent
    &:hover
       background-color: $blue-l

.btn--revert
    background-color: transparent
    border: 1px solid $blue

.btn-iconic
    display: grid
    white-space: nowrap
    font-size: 14px
    color: white
    align-items: center
    grid-gap: 9px
    +norms(r)
    svg
        grid-row: 1
        fill: none
    span
        grid-row: 1

.btn--fiolet
    background-color: $fiolet-d
    &:hover
        background-color: $fiolet-ed