.input
    padding: 0 17px
    width: 100%
    height: 100%
    color: black
    font-size: 14px
    box-sizing: border-box
    &::placeholder
        color: $placeholder
    &:active::placeholder, &:focus::placeholder
        color: transparent

.input--search
    padding: 11px 15px 11px 45px
    border: 1px solid #D3D7E1
    background-image: url("/assets/img/svg/search.svg")
    background-repeat: no-repeat
    background-position: 15px center
    font-size: 14px