.link
    &,
    &:focus,
    &:visited
        color: $black

.link--beige 
    color: $beige
    padding-bottom: 3px
    transition-duration: .3s
    border-bottom: 1px solid $beige
    &:hover
        border-bottom: 1px solid transparent

.link--bordered
    text-transform: uppercase
    font-size: 10px
    text-align: center
    letter-spacing: 0.08em
    color: white
    border: 1px solid rgba(255,255,255,.15)
    padding: 8px 15px
    @media (max-width: $mob-sm)
        padding: 8px 5px