// Headings.

=heading-typo
  +norms(l)

=heading-typo-2
  +commons(l)

.t-h1
  +heading-size-1
  +heading-typo

.t-h2
  +heading-size-2
  +heading-typo-2

.t-h5
  +heading-size-5
  +heading-typo
  font-weight: 500

.sub-t1
  +sub-size-1
  font-weight: 500

.sub-t2
  +sub-size-2
  font-weight: 500

.sub-t2-l
  letter-spacing: 0.02em
  +sub-size-2
  font-weight: 400

//Labels
.label
  font-size: 10px
  text-transform: uppercase
  +norms(m)
  letter-spacing: 0.04em

// Text alignments.


.t-tar
  text-align: right

.t-tal
  text-align: left

.t-tac
  text-align: center

.t-light
  color: white