mixin pagination
    ul.pagination
        li.pagination__item.pagination__item--prev
            a(href="#")
                +svg('arrow-prev')
        li.pagination__item.is-active
            a(href="#") 1
        li.pagination__item
            a(href="#") 2
        li.pagination__item
            a(href="#") 3
        li.pagination__item
            a(href="#") 4
        li.pagination__item
            a(href="#") ...
        li.pagination__item
            a(href="#") 5
        li.pagination__item.pagination__item--next
            a(href="#")
                +svg('arrow-next')