.pagination
    display: grid

.pagination__item
    grid-row: 1
    width: 57px
    height: 57px
    &:not(:first-child)
        a
            border-left: none
    a
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        height: 100%
        border: 1px solid $grey
        font-size: 14px
        color: $black
        transition-duration: .3s
        &:hover
            background: $grey
        svg
            fill: none
            width: 12px
            height: 12px
.pagination__item.is-active
    border: 1px solid $black-l
    &:hover
        a
            background: none
        