include ../blocks/svg/svg.pug
include ../blocks/pagination/pagination.pug
include ../blocks/header/header.pug
include ../blocks/select/select.pug
include ../blocks/privileges/privileges.pug
include ../blocks/directions/directions.pug
include ../blocks/courses/courses.pug 
include ../blocks/course-card/course-card.pug
include ../blocks/news/news.pug
include ../blocks/news-item/news-item.pug 
include ../blocks/footer/footer.pug