block variables
  -
    const headerNav = [
      {
        title: "О компании",
        url: "/about.html"
      },
      {
        title: "Обучение",
        url: "/learning.html",
        items: [
          {
            title: "Первый пункт",
            url: "#"
          },
          {
            title: "Второй пункт",
            url: "#"
          },
          {
            title: "Третий пункт",
            url: "#"
          }
        ]
      },
      {
        title: "Форматы обучения",
        url: "/formats.html"
      },
      {
        title: "Календарь курсов",
        url: "/calendar.html"
      },
      {
        title: "Скидки",
        url: "/stocks.html"
      },
      {
        title: "Журнал",
        url: "/journal.html"
      },
      {
        title: "Контакты",
        url: "/contacts.html"
      },
    ]

    const footerNav = [
      {
        title: "О компании",
        url: "/about.html"
      },
      {
        title: "Обучение",
        url: "/learning.html",
        items: [
          {
            title: "Первый пункт",
            url: "#"
          },
          {
            title: "Второй пункт",
            url: "#"
          },
          {
            title: "Третий пункт",
            url: "#"
          }
        ]
      },
      {
        title: "Медиа",
        url: "#"
      },
      {
        title: "Правовая информация",
        url: "/calendar.html"
      },
      {
        title: "Скидки",
        url: "/stocks.html"
      },
      {
        title: "Контакты",
        url: "/journal.html"
      },
    ]

    const footerNav2 = [
      {
        title: "Способы оплаты",
        url: "#"
      },
      {
        title: "Политика обработки персональных данных",
        url: "#"
      },
    ]

    const cities = ["Москва", "Санкт-Петербург", "Хельсинки", "Сингапур", "Норильск"]

doctype html
html(lang='ru')
  include ../templates/mixins.pug
  include ../templates/head.pug
  
  body(style="visibility: hidden")
    include ../templates/modals.pug
    block modals
    +header(headerNav, cities)
    .scroll-container#js-scroll
      main
        block content
      +footer(footerNav, footerNav2)

    script(src="https://polyfill.io/v3/polyfill.min.js?features=globalThis%2CIntersectionObserver")