block variables
  -
    
doctype html
html(lang='ru')
  include ../templates/mixins.pug
  include ../templates/head.pug
  
  body(style="visibility: hidden")
    include ../templates/modals.pug
    block modals
    //- Main content
    main
      block content

    //- Footer
    //- include ../blocks/footer/footer.pug
