.home-head
    height: 100vh
    background-image: url('/assets/img/home-head-bg.jpg')
    background-size: cover
    color: white
    background-position: center
    position: relative
    display: flex
    flex-direction: column
    &:before
        width: 100%
        height: 100%
        position: absolute
        opacity: .85
        content: ''
        background: $dark
        top: 0
        left: 0

.home-head__content
    z-index: 1
    margin-top: 115px
    margin-left: auto
    margin-right: auto
    max-width: 730px
    height: calc(100% - 115px)
    width: 100%
    @media (max-width: $tab-sm)
        width: auto
        margin-left: var(--unit)
        margin-right: var(--unit)

.home-head__form
    width: 100%
    margin-top: 20px
    margin-left: auto
    margin-right: auto
    height: 55px
    @media (max-width: $tab-sm)
        height: 45px
    button
        padding-left: 35px
        padding-right: 35px
    .form__field
        width: 100%
        background: white
        overflow: hidden
        height: 100%
        

.home-head__odds
    z-index: 1
    border-top: 1px solid rgba(255,255,255,.2)
    width: 100%
    padding: 20px 0
    .container
        @media (max-width: $mob)
            margin: 0
            width: 100%

.odds-list
    display: grid
    +yo('grid-gap', (500px: 50px, 1920px: 125px))
    @media (max-width: $mob)
        grid-gap: 0
        justify-content: space-between
        width: 100%

.odds-list__item
    grid-row: 1
    &:nth-of-type(5)
        @media (max-width: $tab-sm)
            display: none
    &:nth-of-type(4)
        @media (max-width: $mob)
            display: none
.odds-list__title
    +norms(l)
    font-size: 24px

.odds-list__subtitle
    color: rgba(255,255,255,.6)
    font-size: 12px
    +norms(l)

.home-head__sub
    width: 100%
    margin-top: 25px
    flex-wrap: wrap
    b
        font-size: 18px
        margin-right: 10px
    a
        margin: 0 5px
    @media (max-width: $mob)
        margin-top: 15px

.home-head__links
    display: grid
    width: 100%
    grid-gap: 8px
    grid-template-columns: auto auto
    a
        margin: 0