mixin directions(data)
    .directions__wrapper.js-booster-mobile-x
        ul.directions.js-booster__inner
            each item in data
                li
                    a(href="#").directions__item
                        img(src='assets/img/direction.jpg')
                        .direction__part.u-flex-col.u-jcsb
                            +svg('arrow')
                            .direction__content
                                .direction__title !{item.title}
                                .direction__count !{item.count} курсов

            li
                a(href="#").btn.btn--fiolet.u-center Показать все
        a(href="#").btn.btn--fiolet Показать все