.directions
    display: grid
    grid-template-columns: repeat(6, 1fr)
    @media (max-width: $desktop-sm)
        grid-template-columns: repeat(5, 1fr)
    @media (max-width: $tab)
        grid-template-columns: initial
    li
        height: 20vh
        @media (max-width: $tab)
            grid-row: 1
            width: 266px
            height: 186px
        .btn
            width: 100%
            height: 100%
            font-size: 18px
            font-family: 'TT Commons'
            font-weight: 300
            text-transform: initial
        &:last-child
            @media (max-width: $tab)
                display: none

.directions__item
    display: grid
    position: relative
    +commons(r)
    overflow: hidden
    border: 1px solid #E6EBF2
    height: calc(100% + 1px)
    color: $fiolet-d
    width: calc(100% + 1px)
    will-change: transform
    padding: 30px
    transition-duration: .4s
    &:hover
        color: white
        border: 1px solid transparent
        &:before
            transform: translateY(-100%)
    &:before
        content: ''
        position: absolute
        top: 0
        will-change: transform
        left: 0
        width: 100%
        transition-timing-function: ease
        height: 100%
        z-index: 1
        background: $grey-l
        transition-duration: inherit
    img
        width: 100%
        height: 100%
        z-index: 0
        object-fit: cover
        position: absolute
    svg
        width: 15px
        transition-duration: inherit
        height: 15px
        color: inherit
        align-self: flex-end
        margin-top: -10px
        margin-right: -10px

.direction__part
    z-index: 2
    position: relative

.direction__content
    transition-duration: inherit

.direction__title
    font-size: 18px
    color: inherit

.direction__count
    color: inherit
    font-size: 12px
    opacity: .7


.directions__wrapper
    & > .btn
        padding: 15px
        font-size: 18px
        font-family: 'TT Commons'
        font-weight: 300
        text-transform: initial!important
        margin-top: 15px
        display: none
        @media (max-width: $tab)
            display: block