.footer
    background-color: $fiolet-d
    color: white
    +yo('padding-top', (375px: 30px, 1440px: 80px))
    padding-bottom: 25px

.footer-copyright
    margin-top: 20px
    @media (max-width: $tab)
        display: grid!important
    p 
        font-size: 12px
        +norms(l)
        color: rgba(255,255,255,.5)

.footer-copyright__author
    color: rgba(255,255,255,.8)
    margin-left: 3px

.footer-copyright__part
    display: grid
    grid-template-columns: auto auto
    grid-gap: 30px
    @media (max-width: $tab)
        grid-template-columns: initial
        grid-gap: 15px

.footer-part
    +yo('margin-bottom', (375px: 45px, 1440px: 170px))
.footer-part__title
    +yo('font-size', (375px: 24px, 1440px: 40px))
    +norms(l)
    line-height: 130%

.footer-part__button
    +norms(m)
    position: relative
    &:before, &:after
        content: ""
        background: rgba(255,255,255,.6)
        height: 1px
        width: 100%
        left: 0
        bottom: -4px
        transform-origin: right
        transform: scaleX(1) translateZ(0)
        position: absolute
        transition-duration: .6s
        transition-timing-function: cubic-bezier(.165,.84,.44,1)
        transition-delay: .3s
    &:after
        transform: scaleX(0) translateZ(0)
        transform-origin: left
        transition-delay: 0s
    &:hover
        &:before
            transform: scaleX(0) translateZ(0)
            transition-delay: 0s
        &:after
            transform: scaleX(1) translateZ(0)
            transition-delay: .3s

.footer-navigation
    width: 100%
    display: grid
    grid-template-columns: auto auto
    @media (max-width: $tab)
        grid-template-columns: initial

.footer-navigation__part
    padding: 22px 0
    @media (max-width: $tab)
        padding: 15px 0
    &:nth-of-type(1), &:nth-of-type(2)
        @media (min-width: $tab + 1)
            border-bottom: 1px solid rgba(255,255,255,.1)
    &:nth-of-type(2)
        @media (max-width: $tab)
            order: 1
    &:nth-of-type(4)
        @media (max-width: $tab)
            order: 2
    &:nth-of-type(1)
        @media (max-width: $tab)
            order: 3
    &:nth-of-type(3)
        @media (max-width: $tab)
            order: 4
            border-bottom: 1px solid rgba(255,255,255,.1)
    @media (max-width: $tab)
        justify-content: flex-start!important
        border-top: 1px solid rgba(255,255,255,.1)

.footer__nav
    justify-content: flex-start
    font-size: 15px
    +norms(l)
    display: grid
    +yo('grid-gap', (1100px: 15px, 1440px: 30px))
    &--light
        color: rgba(255,255,255,.5)
    @media (max-width: $tab)
        font-size: 14px
        

.footer__nav-item
    grid-row: 1
    @media (max-width: $tab)
        grid-row: initial
    a
        color: inherit
        
.footer-phone
    +norms(m)
    font-size: 18px
    color: inherit

.footer-socials
    display: grid
    justify-content: flex-end
    grid-gap: 30px

.footer-socials__item
    grid-row: 1
    a
        display: grid
        color: rgba(255,255,255,.5)
        svg
            max-width: 20px
            max-height: 20px
            color: inherit
            transition-duration: .3s
        &:hover
            color: rgba(255,255,255,1)