mixin footer(footerNav, footerNav2)
    footer.footer
        .container
            .footer-part.js-toggle
                .footer-part__title Вам сложно выбрать?<br> Мы поможем, <button class="footer-part__button js-toggle__btn">напишите нам</button>
            .footer-navigation
                .footer-navigation__part
                    ul.footer__nav
                        each item in footerNav
                            li.footer__nav-item
                                a(
                                href=item.url
                                ) !{item.title}

                .footer-navigation__part.u-flex.u-jce
                    a(href="#").footer-phone 8-800-100-02-03
                .footer-navigation__part
                    ul.footer__nav.footer__nav--light
                        each item in footerNav2
                            li.footer__nav-item
                                a(
                                href=item.url
                                ) !{item.title}
                .footer-navigation__part.u-flex.u-jce
                    ul.footer-socials
                        li.footer-socials__item
                            a(href="#")
                                +svg("social-vk")
                        li.footer-socials__item
                            a(href="#")
                                +svg("social-fb")
                        li.footer-socials__item
                            a(href="#")
                                +svg("social-inst")
                        li.footer-socials__item
                            a(href="#")
                                +svg("social-youtube")
                        li.footer-socials__item
                            a(href="#")
                                +svg("social-zen")
                        li.footer-socials__item
                            a(href="#")
                                +svg("social-tg")

            .footer-copyright.u-flex.u-jcsb.u-aic
                .footer-copyright__part
                    p © Русская Школа Управления, 2002-2020. Все права защищены и охраняются законом.
                    p Лицензия на образовательную деятельность № 029045
                p.media-min--tab Сделано в <a href="#" class="footer-copyright__author"> its.agency</a>