.privileges
    display: grid
    grid-template-columns: repeat(4, 1fr)
    @media (max-width: $tab)
        grid-template-columns: repeat(3, 1fr)
    @media (max-width: $tab-sm)
        grid-template-columns: repeat(2, 1fr)
    @media (max-width: $mob)
        grid-template-columns: initial
        margin: 0 -17px
        +yo('margin-bottom', (375px: -55px, 1440px: -100px))

.privileges__item
    padding: 35px
    border: 1px solid $blue-el
    width: calc(100% + 1px)
    height: calc(100% + 1px)
    @media (max-width: $mob)
        padding: 30px var(--unit)
        display: grid
        grid-gap: 25px
        align-items: center
        grid-template-columns: 64px auto
    svg
        width: 72px
        height: 72px
        color: $blue
        fill: none
        @media (max-width: $mob)
            width: 64px
            height: 64px
    p
        margin-top: 30px
        color: $grey-el
        font-size: 16px
        width: 80%
        @media (max-width: $tab)
            margin-top: 15px
            width: 100%
        @media (max-width: $mob)
            width: auto
            margin-top: 0