mixin privileges
    ul.privileges
        li.privileges__item
            +svg('privileges-1')
            p Лицензия на образовательную деятельность № 029045
        li.privileges__item
            +svg('privileges-2')
            p  Множество форматов: очный, вечерний, дистанционный и корпоративный
        li.privileges__item
            +svg('privileges-3')
            p В пятерке лучших бизнес-школ по версии журнала «Эксперт»
        li.privileges__item
            +svg('privileges-4')
            p Международный сертификат качества ISO 9001
        li.privileges__item
            +svg('privileges-5')
            p Постоянная актуализация учебных программ
        li.privileges__item
            +svg('privileges-6')
            p Член РАБО и АМВА
        li.privileges__item
            +svg('privileges-7')
            p Гибкие цены и регулярные скидки
        li.privileges__item
            +svg('privileges-8')
            p Документы по итогам обучения