
extends ../templates/template-scroll.pug

block content
  section.home-head
    .home-head__content.u-flex-col.u-aic.u-jcc
      h1.t-h1 Время учиться в РШУ
      form.home-head__form.u-flex
        .form__field 
          input.input.media-min--tabsm(type="search" placeholder="Введите любое слово, чтобы найти нужный курс, например “Мартетолог”")
          input.input.media-max--tabsm(type="search" placeholder="Поиск")
        button.btn.media-min--tab Поиск
      .home-head__sub.u-center
        b.media-min--tabsm Не можете определиться?
        p.media-min--tabsm Получите <a href="#" class="link--beige">бесплатную консультацию</a> или <a href="#" class="link--beige">пройдите тест</a>
        .home-head__links.media-max--tabsm
          a(href="#").link--bordered Бесплатная консультация
          a(href="#").link--bordered Пройти тест
    .home-head__odds.u-flex.u-aic
      .container
        ul.odds-list
          li.odds-list__item
            .odds-list__title 17+
            .odds-list__subtitle Лет на рынке
          li.odds-list__item
            .odds-list__title 100К
            .odds-list__subtitle Выпускников
          li.odds-list__item
            .odds-list__title 30
            .odds-list__subtitle Направлений
          li.odds-list__item
            .odds-list__title 300
            .odds-list__subtitle Преподавателей
          li.odds-list__item
            .odds-list__title 10
            .odds-list__subtitle Городов

  section.section.section--grey
    .container
      +courses
  section.section.section--dark
    .container
      .t-h2 Наши преимущества
      +privileges

  section.section.section--light
    .container
      .t-h2 Направления
      +directions([
        {
          title: 'Mini MBA',
          count: 465
        },
        {
          title: 'Финансы, Экономика',
          count: 12
        },
        {
          title: 'Общее управление',
          count: 35
        },
        {
          title: 'Персонал',
          count: 10
        },
        {
          title: 'Личная эффективность',
          count: 125
        },
        {
          title: 'Право',
          count: 65
        },
        {
          title: 'Переговоры, коммуникации',
          count: 17
        },
        {
          title: 'Безопасность, продажи',
          count: 477
        },
        {
          title: 'Продажи',
          count: 326
        }
      ])
  section.section.section--light
    .container
      .t-h2 Новости
      +news