extends ../templates/template.pug

block content
  .container.u-flex.u-flex-col.u-ais(style="padding-top: 112px; padding-bottom: 112px; border-bottom: 1px solid #BFC9D8;display: grid; grid-gap: 20px;")
    .t-h1 Заголовок H1
    .t-h2 Заголовок H2
    .t-h5 Заголовок H5
    .sub-t1 Sub medium 14
    .sub-t2 Sub medium 12
    .sub-t2-l Sub 12
    .label Label
  .container.u-flex.u-flex-col.u-ais(style="padding-top: 112px; padding-bottom: 112px; border-bottom: 1px solid #BFC9D8;display: grid; grid-gap: 20px; justify-content: start;")
    .t-h2 Элементы UI
    button.btn Регистрация
    +pagination