.course-card
    background: white
    padding: 20px 20px 30px
    border: 1px solid $grey
    transition-duration: .3s
    @media (max-width: $tab)
        border: none
    .btn
        opacity: 0

    &:hover
        border: 1px solid transparent
        box-shadow: 0px 0px 7px rgba(0,0,0,.15)
        @media (max-width: $tab)
            border: none
            
        .btn
            opacity: 1

.course-card__head
    height: 26px
    margin-bottom: 20px

.course-card__labels
    grid-gap: 10px
    display: grid
    height: 100%
    grid-template-columns: auto auto

.course-card__label
    font-size: 10px
    height: 100%
    letter-spacing: 0.04em
    padding: 0 8px
    background: $grey-l
    color: $fiolet-d
    +norms(r)
    svg
        width: 9px
        height: 9px
        margin-right: 4px
        color: $fiolet-d

.course-card__rating
    span
        font-weight: 500

.course-card__subtitle
    +norms(r)
    font-size: 12px
    color: $grey-sub
    margin-bottom: 6px

.course-card__title
    +commons(m)
    font-size: 18px
    line-height: 115%
    color: $fiolet

.course-card__dates
    margin-top: 20px
    +norms(r)
    color: $fiolet-d
    svg
        width: 9px
        height: 8px
        color: $fiolet-d

.course-card__date
    +norms(r)
    font-size: 14px
    background-color: $grey-l
    padding: 10px 17px
    &:not(:last-child)
        margin-bottom: 9px
    .date
        padding-right: 5px
        border-right: 1px solid rgba(0,0,0,.2)

.course-card__date-part
    display: grid
    grid-gap: 8px
    line-height: 1
    grid-template-columns: auto auto

.course-card__footer
    align-items: flex-end
    +yo('margin-top', (375px: 25px, 1440px: 70px))
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 20px

.course-card__prices
    .price
        font-size: 18px
        color: $fiolet-d
        +norms(m)
    .old-price
        font-size: 12px
        +norms(m)
        text-decoration: line-through
        color: $fiolet-d
        margin-top: 10px
        opacity: .5
    .price-label
        font-size: 11px
        color: #9EACBE