mixin course-card(data)
    .course-card
        .course-card__head.u-flex.u-jcsb
            +select(["Очный", "Заочный"], "select-small")
            .course-card__labels
                .course-card__label.u-center 250 Ч.
                .course-card__label.course-card__rating.u-center
                    +svg("star")
                    span 4.4
        .course-card__subtitle Профессиональная переподготовка
        .course-card__title Школа профессионального руководителя
        .course-card__dates
            .course-card__subtitle Ближайшая дата:
            .course-card__date.u-flex.u-aic.u-jcsb
                .course-card__date-part
                    span.date 17 января - 21 июня
                    span.city Москва
                +svg("card-arrow")
            .course-card__date.u-flex.u-aic.u-jcsb
                .course-card__date-part
                    span.date 17 января - 21 июня
                    span.city Москва
                +svg("card-arrow")
        .course-card__footer
            a(href="#").btn.btn--blue.media-min--tab Регистрация
            button.btn-iconic.media-max--tab
                +svg("calendar")
                span Ближайшие даты
            .course-card__prices.u-flex-col.u-aie
                .price 99 900 ₽
                .price-label.media-min--tab По предоплате за 30 дней
                .old-price.media-min--tab 104 900 ₽
                .price-label.media-min--tab Базовая цена
                