.section
    +yo('padding-top', (375px: 55px, 1440px: 100px))
    +yo('padding-bottom', (375px: 55px, 1440px: 100px))
    .t-h2
        +yo('margin-bottom', (375px: 10px, 1440px: 30px))

.section--dark
    color: white
    background: $fiolet-d

.section--light
    background: white
    color: $black

.section--grey
    background: $grey-l
    color: $black