@font-face
  font-family: 'TT Commons'
  src: url('../fonts/commons/TTCommons-Light.woff2') format('woff2'),url('../fonts/commons/TTCommons-Light.woff') format('woff')
  font-style: normal
  font-weight: 300
  font-display: swap 
@font-face
  font-family: 'TT Commons'
  src: url('../fonts/commons/TTCommons-Medium.woff') format('woff')
  font-style: normal
  font-weight: 400
  font-display: swap  
  
=commons($weight: l)
  @if $weight == l
    font-family: 'TT Commons'
    font-weight: 300
  @if $weight == m
    font-family: 'TT Commons'
    font-weight: 400