mixin courses(data)
    .courses
        .courses-part
            .t-h2 Ближайшие курсы
            .courses-tabs.js-booster-mobile-x
                ul.courses-tabs__inner.js-booster__inner(data-scroll-speed="3" data-scroll)
                    li.courses-tab
                        .courses-tab__count 5
                        .courses-tab__title Производство
                    li.courses-tab
                        .courses-tab__count 7
                        .courses-tab__title Продажи
                    li.courses-tab
                        .courses-tab__count 12
                        .courses-tab__title Управление инновациями
                    li.courses-tab
                        .courses-tab__count 3
                        .courses-tab__title Аналитика
                    li.courses-tab
                        .courses-tab__count 4
                        .courses-tab__title Производство
                    li.courses-tab
                        .courses-tab__count 7
                        .courses-tab__title ЖКХ
                    li.courses-tab
                        .courses-tab__count 22
                        .courses-tab__title Образование
                    li.courses-tab.is-active
                        .courses-tab__count 12
                        .courses-tab__title Право
                    li.courses-tab
                        .courses-tab__count 5
                        .courses-tab__title Производство
                    li.courses-tab
                        .courses-tab__count 7
                        .courses-tab__title Продажи
                    li.courses-tab
                        .courses-tab__count 12
                        .courses-tab__title Управление инновациями
                    li.courses-tab
                        .courses-tab__count 3
                        .courses-tab__title Аналитика
                    li.courses-tab
                        .courses-tab__count 4
                        .courses-tab__title Производство
                    li.courses-tab
                        .courses-tab__count 7
                        .courses-tab__title ЖКХ
                    li.courses-tab
                        .courses-tab__count 22
                        .courses-tab__title Образование
                    li.courses-tab
                        .courses-tab__count 1
                        .courses-tab__title Право
                    li.courses-tab
                        .courses-tab__count 3
                        .courses-tab__title Аналитика
                    li.courses-tab
                        .courses-tab__count 4
                        .courses-tab__title Производство
                    li.courses-tab
                        .courses-tab__count 7
                        .courses-tab__title ЖКХ
                    li.courses-tab
                        .courses-tab__count 22
                        .courses-tab__title Образование
                    li.courses-tab
                        .courses-tab__count 1
                        .courses-tab__title Право
        .courses-part.courses-content.js-booster-desktop-y
            .courses-content__inner.js-booster__inner
                ul.courses-list
                    - for (var x = 0; x < 5; x++)
                        li
                            +course-card