.courses
    display: grid
    grid-template-columns: 1fr 1fr
    @media (max-width: 1240px)
        grid-template-columns: 3fr 4fr
    @media (max-width: $tab)
        grid-template-columns: initial

.courses-part
    display: grid
    justify-content: flex-start
    @media (max-width: $tab)
        justify-content: initial

.courses-tabs
    position: relative
    height: 450px
    overflow: hidden
    &:before, &:after
        content: ''
        position: absolute
        height: 20%
        left: 0
        width: 100%
        z-index: 1
    &:before
        background: linear-gradient(to bottom, $grey-l 25%, transparent)
        top: 0
    &:after
        background: linear-gradient(to top, $grey-l 25%, transparent)
        bottom: 0
    @media (max-width: $tab)
        height: auto
        display: grid
        margin: 0 var(--unit-revert)
        padding: 0 var(--unit)
        
.courses-tabs__inner
    @media (min-width: $tab + 1)
        margin-top: -200px
    @media (max-width: $tab)
        display: flex
        padding-right: 100px
        margin-bottom: 20px
        
.courses-tab
    display: grid
    grid-template-columns: auto auto
    justify-content: flex-start
    width: 100%
    +commons(r)
    cursor: pointer
    font-size: 18px
    transition-duration: .3s
    &:hover, &.is-active
        color: $blue
        .courses-tab__title
            color: inherit
    @media (max-width: $tab)
        white-space: nowrap
        font-size: 16px
        font-weight: 500
        margin-right: 20px

.courses-tab__title, .courses-tab__count
    @media (min-width: $tab + 1)
        padding: 10px 0
    
.courses-tab__title
    color: #4a4a4a
    display: flex
    margin-left: 20px
    align-items: center
    @media (max-width: $tab)
        margin-left: 0

.courses-tab__count
    +norms(r)
    display: flex
    align-items: center
    min-width: 35px
    font-size: 12px
    border-right: 1px solid #EEF0F3
    @media (max-width: $tab)
        display: none

.courses-content
    position: relative
    overflow-y: hidden
    @media (min-width: $tab + 1)
        +yo('margin-bottom', (375px: -55px, 1440px: -100px))
        +yo('margin-top', (375px: -55px, 1440px: -100px))
    @media (max-width: $tab)
        margin: 0 var(--unit-revert)

.courses-content__inner
    position: absolute
    +yo('top', (375px: 55px, 1440px: 100px))
    +yo('padding-bottom', (375px: 55px, 1440px: 100px))
    left: 0
    width: 100%
    @media (max-width: $tab)
        position: static
        transform: initial!important
        top: initial
        padding-bottom: 0
        left: initial
        

.courses-list
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 15px
    padding: 5px
    @media (max-width: $tab)
        grid-template-columns: initial
        padding: 0
        