// Select header
.select-header
    color: inherit
    white-space: nowrap
    font-size: inherit
    .ss-content
        width: initial
        background: $fiolet-d
        border: none
        .ss-option
            color: rgba(255,255,255,.7)
            padding: 7px 13px!important
            transition-duration: .3s
            border-top: 1px solid rgba(255,255,255,.1)
            &:hover
                background-color: $fiolet-ed!important
                color: rgba(255,255,255,1)!important

    .ss-single-selected .ss-arrow
        margin-top: 3px

    .ss-single-selected
        background: none
        border: none
        border-radius: 0!important
        padding: 0 12px!important
        height: 100%!important
        
    .ss-single-selected .ss-arrow span
        border: solid
        border-color: white
        border-width: 0 1px 1px 0
        padding: 2px

    .ss-single-selected.ss-open-below
        background: $fiolet-d
        color: white
        .ss-arrow span
            border-color: white!important

// Select small
.select-small
    font-size: 12px
    white-space: nowrap
    width: auto
    +norms(r) 
    color: $fiolet-d
    .ss-single-selected
        border: none
        height: 100%
        padding-left: 14px
        border-radius: 0!important
        background: $grey-l
    .ss-single-selected .ss-arrow span
        border: none
        background-image: url(/assets/img/svg/arrow.svg)
        background-repeat: no-repeat
        transform: rotate(0deg)!important
        margin: 2px 0 0!important
    .ss-open-below
        background: white
        box-shadow: 0px 0px 4px rgba(0,0,0,.15)
        .ss-arrow span
            transform: rotate(180deg)!important
            margin: -2px 0 0!important
    .ss-open
        box-shadow: 0 3px 5px rgba(0,0,0,.15)
            
    .ss-option
        padding: 3px 14px!important
        &:hover
            color: $fiolet-d!important
            background-color: #F6F6FA!important
    .ss-content
        border: none
        width: initial
        border-top: 1px solid $grey
        background: white
        