mixin news-item
    a(href="#").news-item
        .news-item__image
            img(src="assets/img/news-item.jpg" alt="news")
        .news-item__date 10.01.2020
        .news-item__title Фотоконкурс «учусь в ршу» итоги декабря
        .news-item__description РШУ подводит итоги ежемесячного конкурса.