.news-item
    width: 280px
    display: block
    @media (max-width: $mob-sm)
        width: 260px

.news-item__image
    width: 100%
    img
        width: inherit

.news-item__date
    font-size: 12px
    color: rgba(0,0,0,.7)
    +norms(r)
    margin-top: 7px

.news-item__title
    font-size: 18px
    color: $grey-ed
    +norms(m)
    line-height: 115%
    margin-top: 5px

.news-item__description
    opacity: .7
    font-size: 14px
    color: $grey-ed
    +norms(r)
    line-height: 140%
    margin-top: 15px