mixin header(headerNav, cities)
  header.header
    .header__part.header__top.u-flex.u-jcsb.u-aic.media-min--tab
      ul.header__nav
        each item in headerNav
          li.header__nav-item
            a(
              href=item.url
            ) !{item.title}
      .header-contacts.u-flex
        .header-contacts__item.u-flex.u-aic
          +select(cities, "select-header")
        .header-contacts__item.u-flex.u-aic
          span Пн.-Пт.: 8.00-19.00
        .header-contacts__item.u-flex.u-aic
          a(href="#") +7 (812) 458-56-51
          
    .header__part.header__bottom.u-jcsb.u-aic
      .header__section.u-flex.u-aic
        a(href="/").header__logo
          img(src="/assets/img/logo.png")
          .header__logo-text Русская<br>школа<br>управления
        .header__btns.u-flex.u-ais.u-jcs.media-min--tab
          a.btn(href="#") Каталог курсов
          a.btn.btn--revert(href="#") Mini MBA
          form(
            action="/"
          )
            input.input--search(
              type="search"
              placeholder="Введите любое слово, чтобы найти нужный курс, например “Мартетолог”"
            )
      a.btn-iconic.media-min--tab(
        href="#"
        )
        +svg("user")
        span Личный кабинет
      .header__burger.media-max--tab
        span