.header
    position: fixed
    top: 0
    z-index: 10
    left: 0
    width: 100%
    transform: translateY(0px)
    transition-duration: .3s

.header.is-down
    background: white
    transform: translateY(-40px)

.header.is-active, .header.is-light
    box-shadow: 0px 0px 5px rgba(0,0,0,.2)
    .header__part
        background: white
        color: $black
    .header__top
        border-bottom: 1px solid $grey
    .header__logo-text
        color: $blue-d
    .btn--revert
        color: $blue!important
        &:hover
            color: white!important
    .btn-iconic
        color: $blue-d

.header.is-active
    .input--search, form
        opacity: 1
        transform: translateY(0px)
        pointer-events: auto
    .header-contacts__item
        &:after
            background: black
    .ss-main .ss-single-selected .ss-arrow span
        border-color: $black
    .header__burger
        &:before, &:after, span
            background: $blue-d
.header__part
    width: 100%
    display: flex
    transition-duration: inherit
    align-items: center
    color: white
    padding-left: var(--unit)
    padding-right: var(--unit)
    border-bottom: 1px solid rgba(255,255,255,.1)

.header__logo
    display: flex
    color: inherit
    margin-right: 36px
    align-items: center

.header__logo-text
    color: inherit
    font-size: 10px
    color: rgba(255,255,255,.8)
    +commons(m)
    letter-spacing: 0.12em
    text-transform: uppercase
    line-height: 1.1
    margin-left: 8px
    transition-duration: inherit
    will-change: transform

.header__top
    height: 40px
    font-size: 14px
    +norms(l)

.header__bottom
    padding-top: 15px
    padding-bottom: 15px

.header__btns
    width: 100%
    margin-right: 20px
    & > *
        margin-right: 9px
        &:last-child
            margin-right: 0
    .input--search, form
        opacity: 0
        pointer-events: none
        transform: translateY(5px)
        transition-duration: inherit
        width: calc(100% - 60px)

.header__section
    width: 100%

.header__nav
    display: grid
    grid-gap: 30px
    +yo('grid-gap', (1100px: 15px, 1440px: 30px))

.header__nav-item
    grid-row: 1
    a
        font-size: inherit
        color: inherit
        

.header-contacts
    height: 100%

.header-contacts__item
    color: inherit
    padding: 0 10px
    position: relative
    &:after
        content: ''
        height: 60%
        width: 1px
        display: block
        position: absolute
        right: 0
        top: 0
        opacity: .2
        bottom: 0
        margin: auto
        background: white
    &:first-child
        padding-left: 0
        padding-right: 0
    &:last-child
        padding-right: 0
        &:after
            display: none
    a
        color: inherit
    .select
        height: 100%
        z-index: 1

.header__burger
    width: 25px
    height: 25px
    position: relative
    &:before, &:after, span
        position: absolute
        content: ''
        top: 0
        left: 0
        right: 0
        transition-duration: .3s
        bottom: 0
        margin: auto
        width: 100%
        height: 1px
        background: white
    &:before
        margin-top: 7px
    &:after
        margin-bottom: 7px